*{
    font-family: 'Roboto', sans-serif;
}
.main-page{
    width: 100%;
    height: 98vh;
    display: flex;
}
.main-view{
    flex: 1.2;
    background: linear-gradient(135deg,#0ed7f1,#31064e);
    color: #fff;
    border: 1px solid chartreuse;
}
.second-view{
    flex: 3;
}
.logo-topic{
    width: 100%;
    height: 60px;
    display: flex;
    background-color:rgb(204, 18, 18);
    
}
.logo{
    height: 100%;
    flex: 1;
}
.topic{
    height: 100%;
    flex: 5;  
}
.sun-image{
    height: 100%;
    margin-left: 10px;
}
.topic{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 30pt;
    font-weight: bolder;
}
.search-div{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#search-bar{
    border-radius: 15px;
    height: 30px;
    width: 230px;
    border: none;
    background: #ebfffc;
    color: #555;
    outline: 0;
    font-size: 18px;
    padding-left: 10px;      
    margin-left: 25PX;
}#my-location-button{
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}
#my-location-button>img{
    height: 25px;
    border-radius: 1000px;
}
#search-button{
    margin-right: 10px;
    margin-left: 10px;
    padding: 7px; 
    border-radius: 40PX;
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    font-weight: bolder;
    cursor: pointer;
}
#invalid-city{
    margin-top: 5px;
    margin-left: 40px;
    color: rgb(216, 238, 18);
    font-size: 14pt;
}
#weather-imagediv{
    margin-top: 70px;
    display: flex;
    margin-left: 0;
    width: 100%;
    height: 110px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
.img-div{
    margin-left:30px;
    flex: 1;
}
#text{
    flex: 2;
}
.img-div>img{
    height: 150px;
}
#status{
    display: flex;
    
    align-items: center;
    font-size: 20pt;
}
#temperature{
    font-weight: bolder;
    font-size: 40pt;
    display: flex;

    align-items: center;
}
#celcius-button{
    border: none;
    background: transparent;
    font-size: 20pt;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    
}
#faranhite-button{
    border: none;
    background: transparent;
    font-size: 20pt;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}
#city-name{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    font-size: 24pt;
}
.humid-wind{
    margin-top: 80px;
    width: 100%;
    height: 100px;
    display: flex;
}
.humid{
    flex: 1;
    display: flex;

}
.hwimage{
    flex: 1;
}
.hwtext{
    flex: 2;
}
.humid-wind-image{
    height: 60px;
}
#humid-value{
    font-size: 24pt;
}
#speed-value{
    font-size: 24pt;
}
.humid-wind-name{
    margin-top: 5px;
}
#speed-unit-button{
    font-size: 14pt;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}
#himage{
    margin-left:10px; 
}
.weather-forecast{
    background-color:rgb(204, 18, 18);
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin-left: 1px;
    height: 50px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.63);
}
.three-days-box{
    margin-top: 15px;
    width: 50%;
    height: 150px;
    display: flex;
    margin-left: 1px;
}
.box{
    background: linear-gradient(135deg,#0ed7f1,#31064e);
    flex: 1;
    border-radius: 10px;
    margin-right: 20px;
    -webkit-box-shadow: 12px 14px 19px -10px rgba(0,0,0,0.98);
    -moz-box-shadow: 12px 14px 19px -10px rgba(0,0,0,0.98);
    box-shadow: 12px 14px 19px -10px rgba(0,0,0,0.98);
}
.logo-temp{
    margin-top: 0px;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
}
.temp{
    color: #fff;
    margin-top: 5px;
    margin-left: 2px;
    
    font-size: 18pt;
    flex: 2;
}
#f1weather-image{
    flex: 1;
}
.f1image>img{
    height: 50px;
}
.fstatus{
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.fhum-speed{
    margin-top: 10px;
    height: 60px;
    display: flex;
}
.fhum{
    flex: 1;
}
.fspeed{
    flex: 1;
}
.fhum-value{
    display: flex;
    justify-content: center;
    font-size: 10pt;
    color: #fff;
}
.fhum-image{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.fhum-image>img{
    height: 25px;
}
.day{
    margin-top: 5px;
    display: flex;
    font-size: 12pt;
    font-weight: bold;
    justify-content: center;
}
.histroy-text{
    background-color:rgb(204, 18, 18);
    color: white;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin-left: 1px;
    height: 50px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.63);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.63);
}
.seven-days-box{
    margin-top: 15px;
    width: 100%;
    height: 150px;
    display: flex;
    margin-left: 1px;
}
.box2{
    background: linear-gradient(135deg,#0ed7f1,#31064e);
    flex: 1;
    width: 10px;
    border-radius: 10px;
    margin-right: 5px;
    -webkit-box-shadow: 12px 14px 19px -10px rgba(0,0,0,0.98);
    -moz-box-shadow: 12px 14px 19px -10px rgba(0,0,0,0.98);
    box-shadow: 12px 14px 19px -10px rgba(0,0,0,0.98);
}
.top-div{
    display: flex;
}
.forecast-boxes{
    flex: 1;
}
.radar{
    flex: 1;
}
.div24{
    margin-left: 1px;
    margin-top: 20px;
    display: flex;
    height: 70px;   
}
.box24{
    border-left: 2px solid white;
    background-color: #31064e;
    font-size: 10pt;
    flex: 1;
}
.ntemp{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nimage{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nimage>img{
    height: 30px;
}
.ntime{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nextd{
    margin-top: 30px;
}
.radar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.radarmap{
    border-radius: 10px;
    height: 200px;
    width: 400px;
}